<div id="registro">
<form class="form-signin">
   
    <input type="text" class="form-control" placeholder="Nombre de la empresa" required>
    <input type="email" class="form-control" placeholder="ejemplo@mail.com" required autofocus>
    
    <input type="text"  class="form-control" placeholder="Dirección" required>
    <input type="text"  class="form-control" placeholder="Nit" required>
    <input type="number"  class="form-control" placeholder="Telefono" required>
    <input type="number"  class="form-control" placeholder="Whatsapp" required>
    <input type="password"  class="form-control" placeholder="Contraseña" required>
    <input type="password"  class="form-control" placeholder="Confirmar contraseña" required>
    <!-- <div class="checkbox mb-3"> -->
      <!-- <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label> -->
    <!-- </div> -->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Registrarse</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>

  </form>

</div>