<app-barra-navegacion> </app-barra-navegacion>

<div class="row">
  <div class="col-lg-3" id="info-perfil-medico">
    <img src="assets/consumidor.png" alt="">

    <div>

    <p><strong>Nombres :</strong> Doctor</p>
    <p><strong>Apellidos :</strong> Chapatin</p>
    <p><strong>Especialidad :</strong> Medico general</p>
    <p><strong>Tarjeta profecional :</strong> 4543463454545</p>
    <p><strong>Identificación :</strong> 45524454</p>
    <p><strong>No. Contacto :</strong> 4545645645</p>
    <p><strong>Whatsapp :</strong> 14343321</p>

    </div>
  </div>
  <div class="col-lg-8" id="estudios-medico">
    <h2 >Estudios realizados &nbsp;&nbsp;<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Agregar estudio</button></h2>


<!-- --------------------------- modal--------------------- -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Recipient:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send message</button>
          </div>
        </div>
      </div>
    </div>




    <div>
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Medicina general</h5>
              <h6 class="card-subtitle mb-2 text-muted">Universidad peor es nada</h6>
              <p class="card-text"><strong>Fecha de inicio</strong> 17-5-7</p>
              <p class="card-text"><strong>Fecha de Finalizacion</strong> 18-2-7</p>
            </div>
          </div>

          <div class="card" >
              <div class="card-body">
                <h5 class="card-title">Medicina general 1</h5>
                <h6 class="card-subtitle mb-2 text-muted">Universidad peor es nada</h6>
                <p class="card-text"><strong>Fecha de inicio</strong> 17-5-7</p>
                <p class="card-text"><strong>Fecha de Finalizacion</strong> 18-2-7</p>
              </div>
            </div>

            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title">Medicina general 2</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Universidad peor es nada</h6>
                  <p class="card-text"><strong>Fecha de inicio</strong> 17-5-7</p>
                  <p class="card-text"><strong>Fecha de Finalizacion</strong> 18-2-7</p>
                </div>
              </div>
    </div>
  </div>
</div>