<app-barra-navegacion> </app-barra-navegacion>

<div class="row">
  <div class="col-lg-3" id="info-perfil-medico">
    <img src="assets/consumidor.png" alt="">

    <div>

    <p><strong>Nombres :</strong> Doctor</p>
    <p><strong>Apellidos :</strong> Chapatin</p>
    <p><strong>Especialidad :</strong> Medico general</p>
    <p><strong>Tarjeta profecional :</strong> 4543463454545</p>
    <p><strong>Identificación :</strong> 45524454</p>
    <p><strong>No. Contacto :</strong> 4545645645</p>
    <p><strong>Whatsapp :</strong> 14343321</p>

    </div>
  </div>
  <div class="col-lg-8" id="estudios-medico">
    <h2 >Estudios realizados </h2>

    <div>
        <div class="card" >
            <div class="card-body">
              <p class="card-text"><strong>Institución</strong> Universidad</p>
              <p class="card-text"><strong>Fecha de inicio</strong> 17-5-7</p>
              <p class="card-text"><strong>Fecha de Finalizacion</strong> 18-2-7</p>
            </div>
          </div>

          <div class="card" >
            <div class="card-body">
              <p class="card-text"><strong>Institución</strong> Universidad</p>
              <p class="card-text"><strong>Fecha de inicio</strong> 17-5-7</p>
              <p class="card-text"><strong>Fecha de Finalizacion</strong> 18-2-7</p>
            </div>
          </div>

          <div class="card" >
            <div class="card-body">
              <p class="card-text"><strong>Institución</strong> Universidad</p>
              <p class="card-text"><strong>Fecha de inicio</strong> 17-5-7</p>
              <p class="card-text"><strong>Fecha de Finalizacion</strong> 18-2-7</p>
            </div>
          </div>

    </div>
  </div>
</div>