<app-barra-navegacion> </app-barra-navegacion>

<div class="row" *ngIf="infoMedico">
  <div class="col-lg-3" id="info-perfil-medico">
    <img src="{{infoMedico.avatar}}" alt="">
    
    <div class="info-medico">

    <p><strong>Nombres :</strong> {{infoMedico.nombres}}</p>
    <p><strong>Apellidos :</strong> {{infoMedico.apellidos}}</p>
    <p><strong>Titulo :</strong> {{infoMedico.titulo}}</p>
    <p><strong>Tarjeta profecional :</strong> {{infoMedico.tarj_profecional}}</p>
    <p><strong>Identificación :</strong> {{infoMedico.cedula}}</p>
    <p><strong>No. Contacto :</strong> {{infoMedico.telefono}}</p>
    <p><strong>Whatsapp :</strong> {{infoMedico.whatsapp}}</p>

    </div>
  </div>
  <div class="col-lg-8" id="estudios-medico">
    <h2 >Estudios realizados </h2>

    <div>
        <div class="card" >
            <div class="card-body">
              <p class="card-text"><strong>Institución</strong> Universidad</p>
              <p class="card-text"><strong>Fecha de inicio</strong> 17-5-7</p>
              <p class="card-text"><strong>Fecha de Finalizacion</strong> 18-2-7</p>
            </div>
          </div>

          <div class="card" >
            <div class="card-body">
              <p class="card-text"><strong>Institución</strong> Universidad</p>
              <p class="card-text"><strong>Fecha de inicio</strong> 17-5-7</p>
              <p class="card-text"><strong>Fecha de Finalizacion</strong> 18-2-7</p>
            </div>
          </div>

          <div class="card" >
            <div class="card-body">
              <p class="card-text"><strong>Institución</strong> Universidad</p>
              <p class="card-text"><strong>Fecha de inicio</strong> 17-5-7</p>
              <p class="card-text"><strong>Fecha de Finalizacion</strong> 18-2-7</p>
            </div>
          </div>

    </div>
  </div>
</div>