<div>
  <app-barra-navegacion></app-barra-navegacion>
</div>

<div class="row">
  <div class="col-lg-3">
    <div id="perfil-provedor-imagen">
        <img src="{{global.apiUrl + identity.avatar}}" alt="">
        <br>
        <div>
          <h4><strong>{{identity.nombre}}</strong></h4>
          <p>Descripcion : Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas laboriosam dolore odio in vero ut, fuga aut, consequuntur quia ea doloremque voluptatibus perspiciatis autem veritatis non excepturi fugiat unde rerum officiis nemo optio harum. Quod aliquid odio eaque possimus architecto rem reiciendis sapiente quaerat hic alias iste, cum voluptas aspernatur?</p>
        </div>
   
    </div>
   
  </div>
  <div class="col-lg-8">

    <div id="perfil-provedor-formulario">
      <h2 class="centrar">Informacion de mi cuenta</h2>

      <form action="">
          <div class="form-group">
              <div  class="input-group-prepend centrar">
                  <span class="input-group-text">Pais</span>
                  <select name="" id="">
                    <option value="">Colombia</option>
                  </select>
              </div>
            </div>

            <div class="form-group input-group-prepend">
                <!-- <label for="exampleInputEmail1">Nombre medico</label> -->
                <!-- <span class="fab fa-angular"></span> -->
                <span class="input-group-text">Email</span>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="mail@ejemplo.com" value="{{identity.correo}}" readonly>
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              </div>

              <div class="form-group input-group-prepend">
                  <!-- <label for="exampleInputEmail1">Nombre medico</label> -->
                  <span class="input-group-text">Nombre</span>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre de la empresa" value="{{identity.nombre}}" readonly>
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>

                <div class="form-group input-group-prepend">
                    <!-- <label for="exampleInputEmail1">Nombre medico</label> -->
                    <span class="input-group-text">Nit</span>
                    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nit" value="{{identity.nit}}" readonly>
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>

                <br>
                <h2 class="centrar">Datos de contacto</h2>
                <br>

                <div class="form-group input-group-prepend">
                    <!-- <label for="exampleInputEmail1">Nombre medico</label> -->
                    <span class="input-group-text">Dirección</span>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Direccion" value="{{identity.direccion}}">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                  </div>

                  <div class="form-group input-group-prepend">
                      <!-- <label for="exampleInputEmail1">Nombre medico</label> -->
                      <span class="input-group-text">Telefono</span>
                      <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="telefono" value="{{identity.telefono}}">
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                  </div>

                  <div class="form-group input-group-prepend">
                      <!-- <label for="exampleInputEmail1">Nombre medico</label> -->
                      <span class="input-group-text">Whatspp</span>
                      <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="whatsapp" value="{{identity.whatsapp}}">
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>

                  <br>
                  <h2 class="centrar">Datos de provedor</h2>
                  <br>

                  <div class="form-group input-group-prepend">
                      <!-- <label for="exampleInputEmail1">Nombre medico</label> -->
                      <span class="input-group-text">Nombre</span>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="nombre clinica" value="{{identity.nombre}}">
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                  </div>

                  <div class="form-group input-group-prepend">
                      <!-- <label for="exampleInputEmail1">Nombre medico</label> -->
                      <span class="input-group-text">link sitio web / fan page facebook</span>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="link sitio web / fan page facebook" value="{{identity.link}}">
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                  </div>

                  <div class="form-group input-group-prepend">
                      <!-- <label for="exampleInputEmail1">Nombre medico</label> -->
                      <span class="input-group-text">Descripcion</span>
                      <textarea>{{identity.descripcion}}</textarea>
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                  </div>
              
      </form>

    </div>

  </div>

</div>