<div>
  <app-barra-navegacion></app-barra-navegacion>
</div>

<div class="row">
  <div class="col-lg-3">
    <div id="perfil-provedor-imagen">
        <img src="assets/consumidor.png" alt="">
        <br>
     <p>Descripcion : Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas laboriosam dolore odio in vero ut, fuga aut, consequuntur quia ea doloremque voluptatibus perspiciatis autem veritatis non excepturi fugiat unde rerum officiis nemo optio harum. Quod aliquid odio eaque possimus architecto rem reiciendis sapiente quaerat hic alias iste, cum voluptas aspernatur?</p>
    </div>
   
  </div>
  <div class="col-lg-8">

    <div id="perfil-provedor-formulario">
      <h2 class="centrar">Informacion de mi cuenta</h2>

      <form action="">
          <div class="form-group">
              <div  class="input-group-prepend centrar">
                  <span class="input-group-text">Pais</span>
                  <select name="" id="">
                    <option value="">Colombia</option>
                  </select>
              </div>
            </div>

            <div class="form-group">
                <!-- <label for="exampleInputEmail1">Nombre medico</label> -->
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="mail@ejemplo.com">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              </div>

              <div class="form-group">
                  <!-- <label for="exampleInputEmail1">Nombre medico</label> -->
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre de la empresa">
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>

                <br>
                <h2 class="centrar">Datos de contacto</h2>
                <br>

                <div class="form-group">
                    <!-- <label for="exampleInputEmail1">Nombre medico</label> -->
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Direccion">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                  </div>

                  <div class="form-group">
                      <!-- <label for="exampleInputEmail1">Nombre medico</label> -->
                      <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="telefono">
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                  </div>

                  <div class="form-group">
                      <!-- <label for="exampleInputEmail1">Nombre medico</label> -->
                      <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="whatsapp">
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>

                  <br>
                  <h2 class="centrar">Datos de provedor</h2>
                  <br>

                  <div class="form-group">
                      <!-- <label for="exampleInputEmail1">Nombre medico</label> -->
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="nombre clinica">
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                  </div>

                  <div class="form-group">
                      <!-- <label for="exampleInputEmail1">Nombre medico</label> -->
                      <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nit">
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                  </div>

                  <div class="form-group">
                      <!-- <label for="exampleInputEmail1">Nombre medico</label> -->
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="link sitio web / fan page facebook">
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                  </div>
              
      </form>


    </div>

  </div>

</div>