<h3 class="centrar">¿ Selecciona el medico que atendera este servicio ?</h3>
<div>
    <label for="">Medico</label>
  <select>
    <option value="">Dr. chapatin</option>
  </select>
  </div>

<h3 class="centrar">¿ Donde vas a prestar tu servicio ?</h3>

<div>
  <label for="">Departamento</label>
<select>
  <option value="">Nariño</option>
</select>
</div>

<div>
    <label for="">Municipio</label>
    <select>
      <option value="">Pasto</option>
    </select>
</div>

  <h3 class="centrar">Cuentanos más !</h3>
  <p><input type="text" placeholder="Categoria"></p>
  <p><input type="text" placeholder="Nombre servicio"></p>
  <p><input type="number" placeholder="Duración aprox en minutos"></p>
  <p><input type="number" placeholder="max.num.citas en una hora"></p>
  <p><input type="number" placeholder="Precio a particulares"></p>
  <p><input type="number" placeholder="Descuento clientes prevenir"></p>
  <p><input type="text" placeholder="Direccion"></p>
  <p><input type="text" placeholder="link video de you tube"></p>
  <p><textarea placeholder="Descripcion"></textarea></p>
 
  
  

