<app-barra-navegacion></app-barra-navegacion>

<div class="row">
  <div class="col-lg-3">
      <div class="calendario">
          <div  class="input-group-prepend centrar">
              <span class="input-group-text">Servicio</span>
              <select name="" id="">
                <option value="">Ginecologia</option>
              </select>
          </div>
        </div>
  </div>
  <div class="col-lg-9">
    <div class="calendario">
        <h1>AQUI VA EL CALENDARIO</h1>
    </div>
    
  </div>
</div>


  

