<app-barra-navegacion></app-barra-navegacion>


<div id="btn-agregar-pub"><h1>Mis Medicos ! &nbsp; <button type="button" class="btn btn-success">Crear Medico</button></h1>
</div>

<div id="card-publicacion">   
<div class="card ">
  <div class="row">
    <div class="col-lg-3"><img src="assets/consumidor.png" alt=""></div>
    <div class="col-lg-6">
        <h3>Nombre Medico</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum nihil excepturi quae minus dolore omnis consectetur molestiae a. Quis dolorum debitis nesciunt, expedita voluptates asperiores, veritatis architecto provident ab amet doloribus doloremque similique assumenda repudiandae iusto itaque? Esse quasi hic quos vero eum provident accusantium aliquam odio fugit iusto nihil excepturi, expedita dolorem, laborum nulla quia tenetur aperiam assumenda, id maiores ipsam omnis officiis? Sed sit assumenda neque laudantium, facere quia nemo illo quas harum exercitationem porro voluptatibus voluptate eius.</p>
    </div>
    <div class="col-lg-3">
            <br>
              <p class="p-btns">
                  <a href="" class="abtn btn-info btn-lg" role="button">Ver</a>
              </p>
              <p class="p-btns">
                  <a href="" class="abtn btn-danger btn-lg" role="button">Eliminar</a>
              </p>
          </div>
  </div>
  
</div>

</div>