.contenedor
{
    overflow-x:scroll;
    overflow-y:hidden;
    width:30em;
    height:150px
}

.scroll
{
    width:45em;
    height:110px;

}

.imga
{
    width: 100px;
    height: 100px;
    margin: 20px 10px;
    display: inline;
}

.form
{
    margin-top:20px;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.avatar {
    position: relative;
    top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

