
<div class="container">
    <div class="input-group" id="buscarC">
         <div class="input-group-prepend">
          <span class="input-group-text">Cedula</span>
          <input type="text" aria-label="cedula" class="form-control">
          <input type="submit" value="Buscar" class="btn btn-primary btnbuscar"/>
        </div>       
      </div>
        <div class="tab-content scroll" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="card lista">
                  <div class="container">
                      <div class="row">
                        <div class="col">
                            <div class="avatar">
                              Avatar
                            </div>
                        </div>
                        <div class="col">
                         Nombre
                        </div>
                        <div class="col">
                           Consultorio
                        </div>
                      </div>
                    </div> 
              </div>
            <div class="card lista curso">
                <div class="container">
                    <div class="row">
                      <div class="col">
                          <div class="avatar">
                              <img alt="" src="http://lorempixel.com/100/100/people/9/">
                          </div>
                      </div>
                      <div class="col">
                        Andrea Mejia

                      </div>
                      <div class="col">
                        <a class="consul">203</a>
                        <div>
                            <input type="type" value="Ver" id="" class="btn btn-secondary ver" />
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
            <div class="card lista">
                <div class="container">
                    <div class="row">
                      <div class="col">
                          <div class="avatar">
                              <img alt="" src="http://lorempixel.com/100/100/people/9/">
                          </div>
                      </div>
                      <div class="col">
                        Luisa lopez
                      </div>
                      <div class="col">
                        Espera
                      </div>
                    </div>
                  </div> 
            </div>
            <div class="card lista">
                <div class="container">
                    <div class="row">
                      <div class="col">
                          <div class="avatar">
                              <img alt="" src="http://lorempixel.com/100/100/people/9/">
                          </div>
                      </div>
                      <div class="col">
                        Lorena casa
                      </div>
                      <div class="col">
                        Espera
                      </div>
                    </div>
                  </div> 
            </div>
            <div class="card lista">
                <div class="container">
                    <div class="row">
                      <div class="col">
                          <div class="avatar">
                              <img alt="" src="http://lorempixel.com/100/100/people/9/">
                          </div>
                      </div>
                      <div class="col">
                      camila perez
                      </div>
                      <div class="col">
                        Espera
                      </div>
                    </div>
                  </div> 
            </div>
            <div class="card lista">
                <div class="container">
                    <div class="row">
                      <div class="col">
                          <div class="avatar">
                              <img alt="" src="http://lorempixel.com/100/100/people/9/">
                          </div>
                      </div>
                      <div class="col">
                      camila perez
                      </div>
                      <div class="col">
                        Espera
                      </div>
                    </div>
                  </div> 
            </div>
            <div class="card lista">
                <div class="container">
                    <div class="row">
                      <div class="col">
                          <div class="avatar">
                              <img alt="" src="http://lorempixel.com/100/100/people/9/">
                          </div>
                      </div>
                      <div class="col">
                      camila perez
                      </div>
                      <div class="col">
                        Espera
                      </div>
                    </div>
                  </div> 
            </div>
            <div class="card lista">
                <div class="container">
                    <div class="row">
                      <div class="col">
                          <div class="avatar">
                              <img alt="" src="http://lorempixel.com/100/100/people/9/">
                          </div>
                      </div>
                      <div class="col">
                      camila perez
                      </div>
                      <div class="col">
                        Espera
                      </div>
                    </div>
                  </div> 
            </div>
          </div>
         
        </div>
</div>
