<div class="container card">
<div class="card-body">
    <div class="card-header">
        <h1>CONTACTENOS</h1>
      </div>  
  <form>
  <div class="form-group">
    <label for="nombre"><h4>Nombre</h4></label>
    <input type="text" class="form-control" id="nombre" aria-describedby="nombre" placeholder="Ingrese su nombre">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
      <label for="email"><h4>Email</h4></label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingrese su correo">
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
  <div class="form-group">
    <label for="asunto"><h4>Asunto</h4></label>
    <input type="text" class="form-control" id="asunto" placeholder="Asunto">
  </div>
  <div class="form-group">
      <label for="mensaje"><h4>Mensaje</h4></label>
      <textarea  class="form-control" id="mensaje" placeholder="Cuentanos tus inquetudes"> </textarea>
      </div>
  <button type="submit" class="btn btn-primary">enviar</button>
</form>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Informacion de contacto</h1>
      <p class="lead">Direccion: direccion </p>
      <p class="lead">Direccion: direccion </p>
      <p class="lead">Direccion: direccion </p>

    </div>
  </div>
</div>