

<div id="login">
  
    <div class="alert alert-danger" *ngIf="status == 'login_false'">Usuario o contraseña incorrectos. </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">Error en la conexión, intentalo más tarde o revisa tu conexión.</div>
    <div class="alert alert-danger" *ngIf="status == 'login_user'">Error cuenta de usuario.</div>
  
<form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
   
    <img src="assets/logo.png" alt="">
    <br>
    <br>
    <br>
    <!-- <h1 class="h3 mb-3 font-weight-normal">Por favor identificate.</h1> -->
    <div>
      <label  class="sr-only">Correo Electronico</label>
      <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" placeholder="ejemplo@mail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required autofocus>
    </div>
    <div>
      <label for="inputPassword" class="sr-only">Contraseña</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" name="pssw" #pssw="ngModel" [(ngModel)]="user.pssw" required autofocus>
    </div>
    <!-- <div class="checkbox mb-3"> -->
      <!-- <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label> -->
    <!-- </div> -->
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.form.valid">Iniciar sesion</button>
    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="goToRegister()">Registrate</button>
    <br>
    <a href="" class="olvido-contrasenia">¿ Olvido su contraseña ?</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2018-2019 - SecurTec</p>

  </form>

</div>