<app-barra-navegacion></app-barra-navegacion>

<div id="btn-agregar-pub"><h1>Mis Publicaciones ! &nbsp; <button type="button" class="btn btn-success" [routerLink]="['/agregar-publicacion']">Crear Publicación</button></h1>
</div>

<div id="card-publicacion">   
<div class="card " *ngFor="let p of publications">
  <div class="row">
    <div class="col-lg-3 img-pub"><img src="{{global.apiUrl + p.foto}}" alt=""></div>
    <div class="col-lg-6"><h3><strong>{{p.nombre}}</strong></h3>
      <p>{{p.descripcion}}</p>
    </div>
    <div class="col-lg-3">
      <br>
        <p class="p-btns">
            <a href="" class="abtn btn-info btn-lg" role="button" data-toggle="modal" data-target="#exampleModalLong" >Ver</a>
        </p>
        <p class="p-btns">
            <a href="" class="abtn btn-warning btn-lg" role="button">Editar</a>    
        </p>
        <p class="p-btns">
            <a href="" class="abtn btn-danger btn-lg" role="button">Eliminar</a>
        </p>
    </div>
  </div>
</div>

              <!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">TITULO PUBLICACION</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

       <app-modal-ver-publicacion></app-modal-ver-publicacion>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <input type="submit" class="btn btn-primary" value="Guardar Cambios" />
 
      </div>
    </div>
  </div>
</div>